<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
       {{ content }}
	   
     </div>
   </div>
   <div class="row">
    {% if config.plugins.simple_form.enabled %}
        {% set simple_form_config = page.header.simple_form ?: config.themes.agency.simple_form %}
        {{ simple_form(simple_form_config) }}
    {% endif %}
    </div>
  </div>
</section>
